.date-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s ease-in-out, visibility 1s ease-in-out;
    z-index: 1;
}

.date-modal {
    background: #E1E5F1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    max-height: 800px;
    overflow-y: auto;
    position: relative;
    transform: scale(0.5);
    transition: transform 0.6s ease-in-out;
}

.date-modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.date-modal-overlay.active .date-modal {
    transform: scale(1);
}

.btnCloseIcon {
    text-align: center;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    border-radius: 50%;
    background-color: transparent;
}





.date-modal h3 {
    margin: 0 0 20px;
}

.date-modal button {
    margin-right: 10px;
}
