@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    background-color:#E1E5F1;
}
.foterUl{
    font-family: 'Inter', sans-serif;
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
   display: flex;
   justify-content: space-around;
   align-items:center;

}
.foterUl li{
    display: inline-block;
    color:black;
    padding: 0;
    margin: 0;

}

.foterUl li:hover{
    text-shadow: 
    -0.5px 0 0 #303383, /* chapga */
    0.5px 0 0 #303383,  /* o'ngga */
    0 -0.5px 0 #303383, /* yuqoriga */
    0 0.5px 0 #303383;  /* pastga */
}
.footerYer{
    margin-top: 10px;
    object-fit: cover;
   
    width: 555px;
    height: 321px;
   
}
.textFooter{
    text-align: center;
}
.line2{
    height: 321px;
    width: 1px;
    border: 1px solid #000000;
}
.footer3{
        width: 1300px;
    /* border:1px solid black; */
    display: flex;  
    /* align-items:center; */
    justify-content: space-between ;
    margin-bottom: 20px;
}
.footer{
    max-width: 1920px;
    margin: 0 auto;
    background-color:#E1E5F1;
    height: 342px;
    align-items:center;
    justify-content: space-between;
    display: flex;
}
.textFooter{
    margin-top: 34px;
    /* border: 1px solid #000000; */
    width: 700px;
    height: auto;
}
.textFooter p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13.5px;
    line-height: 21px;
    color:#6A859C;
}
@media only screen and (min-width: 1070px) and (max-width: 1300px) {
    .foterUl{
        margin-bottom: 40px;
        font-weight: 500;
        font-size: 28px;
        line-height: 39px;

    
    }
    .foterUl{
        margin-bottom: 40px;
        font-weight: 500;
        font-size: 28px;
        line-height: 35px;
       display: flex;
       justify-content: space-around;
       align-items:center;
    
    }

    .footerYer{
        margin-top: 10px;
        object-fit: cover;
       
        width: 500px;
        height: 300px;
       
    }
    .textFooter{
        
        text-align: center;
    }
    .line2{
        height: 300px;
        width: 1px;
        border: 1px solid #000000;
    }
    .footer3{
            width: 1000px;
        /* border:1px solid black; */
        display: flex;
        /* align-items:center; */
        justify-content: space-between ;
        margin-bottom: 60px;
    }
    .footer{
        background-color:#E1E5F1;
        height: 300px;
        align-items:center;
        justify-content: space-between;
        display: flex;
    }
    .textFooter{
        margin-top: 34px;
        /* border: 1px solid #000000; */
        width: 700px;
        height: auto;
    }
    .textFooter p{
        font-weight: 400;
        font-size: 12px;
        line-height: 21px;
        color:#6A859C;
    }
}
@media only screen and (min-width: 970px) and (max-width: 1070px) {
    .foterUl{
        margin-bottom: 40px;
        font-weight: 500;
        font-size: 28px;
        line-height: 39px;

    
    }
    .foterUl{
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 25px;
        line-height: 35px;
       display: flex;
       justify-content: space-around;
       align-items:center;
    
    }

    .footerYer{
        margin-top: 10px;
        object-fit: cover;
       
        width: 500px;
        height: 270px;
       
    }
    .textFooter{
        text-align: center;
    }
    .line2{
        height: 270px;
        width: 1px;
        border: 1px solid #000000;
    }
    .footer3{
            width: 900px;
        /* border:1px solid black; */
        display: flex;
        /* align-items:center; */
        justify-content: space-between ;
        margin-bottom: 60px;
    }
    .footer{
        background-color:#E1E5F1;
        height: 300px;
        align-items:center;
        justify-content: space-between;
        display: flex;
    }
    .textFooter{
        margin-top: 34px;
        /* border: 1px solid #000000; */
        width: 600px;
        height: auto;
    }
    .textFooter p{
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color:#6A859C;
    }
}
@media only screen and (min-width: 870px) and (max-width: 970px) {
    .foterUl{
        margin-bottom: 30px;
        font-weight: 500;
        font-size: 26px;
        line-height: 30px;

    
    }
    .foterUl{
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 22px;
        line-height: 30px;

    
    }

    .footerYer{
        margin-top: 10px;
        object-fit: cover;
       
        width: 400px;
        height: 270px;
       
    }
    .textFooter{
        text-align: center;
    }
    .line2{
        height: 240px;
        width: 1px;
        border: 1px solid #000000;
    }
    .footer3{
            width: 800px;
        /* border:1px solid black; */
        display: flex;
        /* align-items:center; */
        justify-content: space-between ;
        margin-bottom: 40px;
    }
    .footer{
        background-color:#E1E5F1;
        height: 260px;

    }
    .textFooter{
        margin-top: 34px;
        /* border: 1px solid #000000; */
        width: 500px;
        height: auto;
    }
    .textFooter p{
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color:#6A859C;
    }
}
@media only screen and (min-width: 770px) and (max-width: 870px) {
    .foterUl{
        margin-bottom: 30px;
        font-weight: 500;
        font-size: 26px;
        line-height: 30px;

    
    }
    .foterUl{
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;

    
    }

    .footerYer{
        margin-top: 10px;
        object-fit: cover;
       
        width: 400px;
        height: 270px;
       
    }
    .textFooter{
        text-align: center;
    }
    .line2{
        height: 220px;
        width: 1px;
        border: 1px solid #000000;
    }
    .footer3{
            width: 700px;
        /* border:1px solid black; */
        display: flex;
        /* align-items:center; */
        justify-content: space-between ;
        margin-bottom: 20px;
    }
    .footer{
        background-color:#E1E5F1;
        height: 260px;

    }
    .textFooter{
        margin-top: 25px;
        /* border: 1px solid #000000; */
        width: 500px;
        height: auto;
    }
    .textFooter p{
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
        color:#6A859C;
    }
}
@media only screen and (min-width: 720px) and (max-width: 770px) {
    .foterUl{
        margin-bottom: 30px;
        font-weight: 500;
        font-size: 26px;
        line-height: 30px;

    
    }
    .foterUl{
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;

    
    }

    .footerYer{
        margin-top: 10px;
        object-fit: cover;
       
        width: 400px;
        height: 250px;
       
    }
    .textFooter{
        text-align: center;
    }
    .line2{
        height: 220px;
        width: 1px;
        border: 1px solid #000000;
    }
    .footer3{
            width: 650px;
        /* border:1px solid black; */
        display: flex;
        /* align-items:center; */
        justify-content: space-between ;
        margin-bottom: 20px;
    }
    .footer{
        background-color:#E1E5F1;
        height: 230px;

    }
    .textFooter{
        margin-top: 25px;
        /* border: 1px solid #000000; */
        width: 500px;
        height: auto;
    }
    .textFooter p{
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
        color:#6A859C;
    }
}


@media only screen and (min-width: 570px) and (max-width: 720px) {
    .footer3{
        max-width: 650px;
    /* border:1px solid black; */
    display: flex;
    /* align-items:center; */
    justify-content: center ;
    margin-bottom: 30px;
    gap: 50px;
}
    .footer{
        margin: 0;
        padding: 0;
        padding-bottom: 20px;
        background-color:#E1E5F1;
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .line2{
        width: 100%;
        height: 1px;
    border: 1px solid #000000;
    }
    .footerYer{
        margin-top: 0px;
        object-fit: contain;
        
        width: 300px;
        height: 220px;
       
    }
    .textFooter p{
        display: none;
    }
    .textFooter{
        margin-top: 0px;
        /* border: 1px solid #000000; */
        width: auto;
        height: auto;
        display: flex;
        align-items:center;
        justify-content: start;
        
    }
    .foterUl{
        /* border: 1px solid #000000; */
        width: 220px;   
        margin-bottom: 0px;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
       display: grid;
        text-align: start;
        align-items:start
    
    }
}
@media only screen and (min-width: 472px) and (max-width: 570px) {
    .footer3{
        max-width: 450px;
    /* border:1px solid black; */
    display: flex;
    /* align-items:center; */
    justify-content: center ;
    margin-bottom: 30px;
    gap: 40px;
}
    .footer{
        margin: 0;
        padding: 0;
        padding-bottom: 20px;
        background-color:#E1E5F1;
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .line2{
        width: 100%;
        height: 1px;
    border: 1px solid #000000;
    }
    .footerYer{
        margin-top: 0px;
        object-fit: contain;
    /* border: 1px solid #000000; */

        width: 280px;
        height: 200px;
       
    }
    .textFooter p{
        display: none;
    }
    .textFooter{
        margin-top: 0px;
        /* border: 1px solid #000000; */
        width: auto;
        height: auto;
        display: flex;
        align-items:center;
        
    }
    .foterUl{
        /* border: 1px solid #000000; */
        width: 200px;   
        margin-bottom: 0px;
        margin-left: 10px;
       display:grid;
      text-align: start;
     justify-content: start;    
    }
    .foterUl li{

          font-weight: 500;
        font-size: 18px;
        line-height: 25px;
    
    }
}
@media only screen and (min-width: 410px) and (max-width: 472px) {
    .footer3{
        margin: 0 auto;
        max-width: 380px;
    /* border:1px solid black; */
    display: flex;
    /* align-items:center; */
    justify-content: center ;
    margin-bottom: 30px;
    gap: 10px;
}
    .footer{
        margin: 0;
        padding: 0;
        padding-bottom: 20px;
        background-color:#E1E5F1;
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .line2{
        width: 100%;
        height: 1px;
    border: 1px solid #000000;
    }
    .footerYer{
        margin-top: 0px;
        object-fit: cover;
    /* border: 1px solid #000000; */

        width: 280px;
        height: 180px;
       
    }
    .textFooter p{
        display: none;
    }
    .textFooter{
        margin-top: 0px;
        /* border: 1px solid #000000; */
        width: auto;
        height: auto;
        display: flex;
        align-items:center;
        
    }
    .foterUl{
        /* border: 1px solid #000000; */
        width: 170px;   
        margin-bottom: 0px;
        margin-left: 10px;
       display: grid;
      text-align: start;
      justify-content: start;
      margin-bottom: 20px;
    
    }
    .foterUl li{

          font-weight: 500;
        font-size: 15px;
        line-height: 25px;
    
    }
}
@media only screen and (min-width: 340px) and (max-width: 410px) {
    .footer3{
        margin: 0 auto;
        max-width: 320px;
    /* border:1px solid black; */
    display: flex;
    /* align-items:center; */
    justify-content: center ;
    margin-bottom: 0px;
    gap: 10px;
}
    .footer{
        margin: 0;
        padding: 0;
        padding-bottom: 20px;
        background-color:#E1E5F1;
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .line2{
        width: 100%;
        height: 1px;
    border: 1px solid #000000;
    }
    .footerYer{
        margin-top: 0px;
        object-fit: cover;
    /* border: 1px solid #000000; */

        width: 280px;
        height: 150px;
       
    }
    .textFooter p{
        display: none;
    }
    .textFooter{
        margin-top: 0px;
        /* border: 1px solid #000000; */
        width: auto;
        height: auto;
        display: flex;
        align-items:center;
        
    }
    .foterUl{
        /* border: 1px solid #000000; */
        width: 160px;   
        margin-bottom: 0px;
        margin-left: 10px;
       display: grid;
       text-align: start;
       justify-content: start;
       margin-bottom: 20px;
    
    }
    .foterUl li{

          font-weight: 500;
        font-size: 14px;
        line-height: 20px;
    
    }
}
@media  (max-width: 340px) {
    .footer3{
        margin: 0 auto;
        max-width: 280px;
    /* border:1px solid black; */
    display: flex;
    /* align-items:center; */
    justify-content: center ;
    margin-bottom: 0px;
    gap: 10px;
}
    .footer{
        margin: 0;
        padding: 0;
        padding-bottom: 20px;
        background-color:#E1E5F1;
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .line2{
        width: 100%;
        height: 1px;
    border: 1px solid #000000;
    }
    .footerYer{
        margin-top: 0px;
        object-fit: cover;
    /* border: 1px solid #000000; */

        width: 200px;
        height: 130px;
       
    }
    .textFooter p{
        display: none;
    }
    .textFooter{
        margin-top: 0px;
        /* border: 1px solid #000000; */
        width: auto;
        height: auto;
        display: flex;
        align-items:center;
        
    }
    .foterUl{
        /* border: 1px solid #000000; */
        width: 160px;   
        margin-bottom: 0px;
        margin-left: 10px;
     display: grid;
     text-align: start;
     justify-content: start;
    
    }
    .foterUl li{

          font-weight: 500;
        font-size: 14px;
        line-height: 20px;
    
    }
}