*{
    margin: 0;
    padding: 0;
    box-sizing:border-box
}
.band_modal{
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
   /* max-width: 1920px; */
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 200px;
    z-index: 1000;
}
.band_content{
    margin: 0 auto;
    /* margin-left: 400px; */
    background-color: #fff;
   width: 500px;
    padding-top: 20px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    height: 330px;
}
.band_header{
    cursor: pointer;
    display: flex;
    align-items:center;
    margin-right: 20px;
    justify-content: end;
        font-size: 20px;
    margin-bottom: 0px;
}
.footer_band{
    text-align: start;
    padding: 0 30px;
}
.inputs_band label{
 font-size: 18px;
}
.footer_band input{
    margin-top: 10px;
}
.footer_band .form-control{
    margin-top: 10px;
    height: 50px;
    font-size: 18px;
}
.jonatishBtn{
    display: flex;
    align-items:center;
    justify-content: end;
}
.jonatishBtn button{
    margin-top: 20px;
    width: 145.48px;
    height: 36px ;
    border-radius:7.5px;
    border: 0.45px solid #2B3187;
    background-color:#2B3187;
    color:white;
}
.footer_band p{
    font-size: 22px;
    font-weight: 500;
}

@media only screen and (min-width: 600px) and (max-width: 720px) {
    .exitBtn {
        position: absolute;
        font-size: 18px;
        top: 15px;
        right: 20px;
    }
    .band_content{
       width: 350px;
        padding-top: 20px;
        border-radius: 10px;
        position: relative;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        text-align: center;
        height: 300px;
    }
    .band_header{
        margin-bottom: 0px;
    }
    .footer_band{
        text-align: start;
        padding: 0 30px;
    }
    .inputs_band label{
     font-size: 16px;
    }
    .footer_band input{
        margin-top: 10px;
    }
    .footer_band .form-control{
        margin-top: 10px;
        height: 50px;
        font-size: 18px;
        
    }
    .jonatishBtn{
        display: flex;
        align-items:center;
        justify-content: end;
    }
    .jonatishBtn button{
        margin-top: 20px;
        width: 100%;
        height: 36px ;
        border-radius:7.5px;
        border: 0.45px solid #2B3187;
        background-color:#2B3187;
        color:white;
    }
    .footer_band p{
        font-size: 18px;
        font-weight: 500;
    }
}
@media only screen and (min-width: 500px) and (max-width: 600px) {
    .exitBtn {
        position: absolute;
        font-size: 18px;
        top: 15px;
        right: 20px;
    }
    .band_content{
       width: 300px;
        padding-top: 20px;
        border-radius: 10px;
        height: 300px;
    }
    .band_header{
        margin-bottom: 0px;
    }
    .footer_band{
        text-align: start;
        padding: 0 20px;
    }
    .inputs_band label{
     font-size: 15px;
    }
    .footer_band input{
        margin-top: 10px;
    }
    .footer_band .form-control{
        margin-top: 10px;
        height: 50px;
        font-size: 16px;
    }
    .jonatishBtn button{
        margin-top: 20px;
        width: 100%;
        height: 36px ;
        border-radius:7.5px;
        border: 0.45px solid #2B3187;
        background-color:#2B3187;
        color:white;
    }
    .footer_band p{
        font-size: 18px;
        font-weight: 500;
    }
}
@media only screen and (min-width: 400px) and (max-width: 500px) {
    .exitBtn {
        position: absolute;
        font-size: 18px;
        top: 15px;
        right: 20px;
    }
    .band_content{
       width: 280px;
        padding-top: 20px;
        border-radius: 10px;
        height: 300px;
    }
    .band_header{
        margin-bottom: 0px;
    }
    .footer_band{
        text-align: start;
        padding: 0 20px;
    }
    .inputs_band label{
     font-size: 15px;
    }
    .footer_band input{
        margin-top: 10px;
    }
    .footer_band .form-control{
        margin-top: 10px;
        height: 50px;
        font-size: 16px;
    }
    .jonatishBtn button{
        margin-top: 20px;
        width: 100%;
        height: 36px ;
        border-radius:7.5px;
        border: 0.45px solid #2B3187;
        background-color:#2B3187;
        color:white;
    }
    .footer_band p{
        font-size: 18px;
        font-weight: 500;
    }
}
@media only screen and (min-width: 320px) and (max-width: 400px) {
    .exitBtn {
        position: absolute;
        font-size: 18px;
        top: 10px;
        right: 20px;
    }
    .band_content{
       width: 250px;
        padding-top: 20px;
        border-radius: 10px;
        height: 290px;
    }
    .band_header{
        margin-bottom: 0px;
    }
    .footer_band{
        text-align: start;
        padding: 0 20px;
    }
    .inputs_band label{
     font-size: 15px;
    }
    .footer_band input{
        margin-top: 10px;
    }
    .footer_band .form-control{
        margin-top: 10px;
        height: 50px;
        font-size: 16px;
    }
    .jonatishBtn button{
        margin-top: 20px;
        width: 100%;
        height: 36px ;
        border-radius:7.5px;
        border: 0.45px solid #2B3187;
        background-color:#2B3187;
        color:white;
    }
    .footer_band p{
        font-size: 15px;
        font-weight: 500;
    }
}
@media (max-width: 320px) {
    .exitBtn {
        position: absolute;
        font-size: 18px;
        top: 10px;
        right: 20px;
    }
    .band_content{
       width: 220px;
        padding-top: 20px;
        border-radius: 10px;
        height: 290px;
    }
    .band_header{
        margin-bottom: 0px;
    }
    .footer_band{
        text-align: start;
        padding: 0 20px;
    }
    .inputs_band label{
     font-size: 15px;
    }
    .footer_band input{
        margin-top: 10px;
    }
    .footer_band .form-control{
        margin-top: 10px;
        height: 50px;
        font-size: 16px;
    }
    .jonatishBtn button{
        margin-top: 20px;
        width: 100%;
        height: 36px ;
        border-radius:7.5px;
        border: 0.45px solid #2B3187;
        background-color:#2B3187;
        color:white;
    }
    .footer_band p{
        font-size: 13px;
        font-weight: 500;
    }
}