@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;300;400;600;700&display=swap');

.bizhaqimizda-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    
  }
  
  .bizhaqimizda-modal-content {
    background-color: #fff;
    width: 100%;
    max-width: 1202px;
    padding-top: 20px;
    border-radius: 10px;
    position: relative;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    text-align: center;
    height: 600px;
  }
  
  .bizhaqimizda-modal-header {
    margin-bottom: 22px;
    margin-left: 37px;
    margin-right: 29px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .bizhaqimizda-modal-logo {
    margin-left: 37px;
    width: 174px;
    height: 31px;
  }
  .bizhaqimizda-h2{
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    margin-right: 300px;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 0 ;
    color:black

  }
  .bizhaqimizda-h2 h2{
    margin-bottom: 0;
  }
  .bizhaqimizda-modal-body {
    max-width: 900px;
    margin: 0 auto;
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center
  }
  .bizhaqimizda-info-item {
    width: 400px;
    height: 250px;
    /* border:2px solid; */
  }
  .bizhaqimizda-info-item img {
    width: 110px;
    height: 110px;
   
  }
  .bizhaqimizda-info-item h5{
    font-family: 'Inter', sans-serif;
    margin-top: 11px;
    font-weight: 600;
    font-size: 14.43px;
    line-height: 13.13px;
    color:#11002D;
  }
  .bizhaqimizda-info-item p{
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 11.54px;
  }
  @media only screen and (min-width: 1100px) and (max-width: 1400px) {
    .bizhaqimizda-modal-content {
      max-width: 1002px;
      padding-top: 20px;
      border-radius: 10px;
      height: 600px;
    }
    
    .bizhaqimizda-modal-header {
      margin-bottom: 22px;
      margin-left: 37px;
      margin-right: 29px;
      margin-bottom: 20px;
    }
    .bizhaqimizda-modal-logo {
      margin-left: 37px;
      width: 174px;
      height: 31px;
    }
    .bizhaqimizda-h2{
      margin-right: 300px;
      font-weight: 500;
      font-size: 32px;
      line-height: 39px;
    }
    .bizhaqimizda-modal-body {
      max-width: 800px;
      /* border:2px solid; */

    }
    .bizhaqimizda-info-item {
      width: 370px;
      height: 220px;
      /* border:2px solid; */
    }
    .bizhaqimizda-info-item img {
      width: 110px;
      height: 110px;
     
    }
    .bizhaqimizda-info-item h5{
      margin-top: 11px;
      font-weight: 600;
      font-size: 14.43px;
      line-height: 13.13px;
    }
    .bizhaqimizda-info-item p{
      font-weight: 400;
      font-size: 11.54px;
    }
  }
  @media only screen and (min-width: 900px) and (max-width: 1100px) {
    .bizhaqimizda-modal-content {
      max-width: 850px;
      padding-top: 20px;
      border-radius: 10px;
      height: 550px;
    }
    
    .bizhaqimizda-modal-header {
      margin-bottom: 22px;
      margin-left: 37px;
      margin-right: 29px;
      margin-bottom: 20px;
    }
    .bizhaqimizda-modal-logo {
      margin-left: 30px;
      width: 150px;
      height: 28px;
    }
    .bizhaqimizda-h2{
      margin-right: 250px;
      font-weight: 500;
      font-size: 28px;
      line-height: 39px;
    }
    .bizhaqimizda-modal-body {
      max-width: 800px;
      /* border:2px solid; */

    }
    .bizhaqimizda-info-item {
      width: 370px;
      height: 220px;
      /* border:2px solid; */
    }
    .bizhaqimizda-info-item img {
      width: 110px;
      height: 110px;
     
    }
    .bizhaqimizda-info-item h5{
      margin-top: 11px;
      font-weight: 600;
      font-size: 14.43px;
      line-height: 13.13px;
    }
    .bizhaqimizda-info-item p{
      font-weight: 400;
      font-size: 11.54px;
    }
  }
  @media only screen and (min-width: 720px) and (max-width: 900px) {
    .bizhaqimizda-modal-content {
      max-width: 650px;
      padding-top: 20px;
      border-radius: 10px;
      height: 450px;
    }
    
    .bizhaqimizda-modal-header {
      margin-bottom: 20px;
      margin-left: 30px;
      margin-right: 20px;
      margin-bottom: 15px;
    }
    .bizhaqimizda-modal-logo {
      margin-left: 20px;
      width: 130px;
      height: 25px;
    }
    .bizhaqimizda-h2{
      margin-right: 150px;
      font-weight: 500;
      font-size: 25px;
      line-height: 30px;
    }
    .bizhaqimizda-modal-body {
      max-width: 600px;
      /* border:2px solid; */

    }
    .bizhaqimizda-info-item {
      width: 250px;
      height: 180px;
      /* border:2px solid; */
    }
    .bizhaqimizda-info-item img {
      width: 80px;
      height: 80px;
     
    }
    .bizhaqimizda-info-item h5{
      margin-top: 8px;
      font-weight: 600;
      font-size: 12.43px;
      line-height: 12.13px;
    }
    .bizhaqimizda-info-item p{
      font-weight: 400;
      font-size: 10.54px;
    }
  }
  @media only screen and (min-width: 600px) and (max-width: 720px) {
    .bizhaqimizda-modal-content{
      background-color:#E1E5F1;
      width: 100%;
      max-width: 720px;
      padding-top: 20px;
      border-radius: 10px;
      height: auto;
    }
    .bizhaqimizda-modal-logo{
      display: none;
    }
    .bizhaqimizda-h2{
      font-size: 37px;
     margin: 0 auto;
    }
    .bizhaqimizda-modal-body {
      max-width: 720px;
    
    }
    .bizhaqimizda-info-item {
      padding: 0 80px;
      width: 100%;
      height: 320px;
      /* border:2px solid; */
    }
    
    .bizhaqimizda-info-item img {
      width: 150px;
      height: 150px;
     
    }
    .bizhaqimizda-info-item h5{
      margin-top: 11px;
      font-weight: 600;
      font-size: 25.43px;
      line-height: 13.13px;
      color:#11002D;
    }
    .bizhaqimizda-info-item p{
      margin-top: 10px;
      text-align: center;
      font-weight: 400;
      font-size: 17.54px;
    }
  }
  @media only screen and (min-width: 500px) and (max-width: 600px) {
    .bizhaqimizda-modal-content{
      background-color:#E1E5F1;
      width: 100%;
      max-width: 720px;
      padding-top: 20px;
      border-radius: 10px;
      height: auto;
    }
    .bizhaqimizda-modal-logo{
      display: none;
    }
    .bizhaqimizda-h2{
      font-size: 34px;
     margin: 0 auto;
    }
    .bizhaqimizda-modal-body {
      max-width: 600px;
    
    }
    .bizhaqimizda-info-item {
      padding: 0 50px;
      width: 100%;
      height: 260px;
      /* border:2px solid; */
    }
    
    .bizhaqimizda-info-item img {
      width: 130px;
      height: 130px;
     
    }
    .bizhaqimizda-info-item h5{
      margin-top: 11px;
      font-weight: 600;
      font-size: 23.43px;
      line-height: 13.13px;
      color:#11002D;
    }
    .bizhaqimizda-info-item p{
      margin-top: 10px;
      text-align: center;
      font-weight: 400;
      font-size: 15.54px;
      line-height: 18px;
    }
  }
  @media only screen and (min-width: 400px) and (max-width: 500px) {
    .bizhaqimizda-modal-content{
      padding-bottom: 30px;
      background-color:#E1E5F1;
      width: 100%;
      max-width: 720px;
      padding-top: 20px;
      border-radius: 10px;
      height: auto;
    }
    .bizhaqimizda-modal-logo{
      display: none;
    }
    .bizhaqimizda-h2{
      font-size: 30px;
     margin: 0 auto;
    }
    .bizhaqimizda-modal-body {
      max-width: 600px;
    
    }
    .bizhaqimizda-info-item {
      padding: 0 40px;
      width: 100%;
      height: 280px;
      /* border:2px solid; */
    }
    
    .bizhaqimizda-info-item img {
      width: 120px;
      height: 120px;
     
    }
    .bizhaqimizda-info-item h5{
      margin-top: 11px;
      font-weight: 600;
      font-size: 21.43px;
      line-height: 23.13px;
      color:#11002D;
    }
    .bizhaqimizda-info-item p{
      margin-top: 10px;
      text-align: center;
      font-weight: 400;
      font-size: 13.54px;
      line-height: 18px;
    }
  }
  @media (max-width: 400px) {
    .bizhaqimizda-modal-content{
      padding-bottom: 30px;
      background-color:#E1E5F1;
      width: 100%;
      max-width: 720px;
      padding-top: 20px;
      border-radius: 10px;
      height: auto;
    }
    .bizhaqimizda-modal-logo{
      display: none;
    }
    .bizhaqimizda-h2{
      font-size: 26px;
     margin: 0 auto;
    }
    .bizhaqimizda-modal-body {
      max-width: 400px;
    
    }
    .bizhaqimizda-info-item {
      padding: 0 30px;
      width: 100%;
      height: 280px;
      /* border:2px solid; */
    }
    
    .bizhaqimizda-info-item img {
      width: 100px;
      height: 100px;
     
    }
    .bizhaqimizda-info-item h5{
      margin-top: 11px;
      font-weight: 600;
      font-size: 18.43px;
      line-height: 23.13px;
      color:#11002D;
    }
    .bizhaqimizda-info-item p{
      margin-top: 10px;
      text-align: center;
      font-weight: 400;
      font-size: 12.54px;
      line-height: 18px;
    }
  }
 
 

  