*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.begin1{
    background-image:url("../../pictures/all.svg");
    min-height: 100vh;
    height: auto;
    max-width: 1920px;
    margin: 0 auto;
}
.leftCity{
    width: 470px;
    /* border: 2px solid; */

}
.colorback{
    background-color:#000000A1;
    height: auto; 
    min-height: 100vh;
    padding: 0 20px;
}
.leftCity p{
font-family: 'Inter';
font-weight: 500;
font-size: 20px;
line-height: 30px;
color:white;

}

.inputRoute p{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color:white;
}
.form-control{
    height: 45px;
}
.rightCity p{
font-family: 'Inter';
font-weight: 500;
font-size: 20px;
line-height: 30px;
color:white;

}
.rightCity{
    width: 470px;
    /* border: 2px solid; */
}
.tableCity{
    margin-top: 20px;
    display: flex;
    padding: 0 100px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.liFromCity{
    margin-top: 5px;
display: flex;
justify-content: space-between;
}
.ulDriversOne{
    text-shadow: 1px 1px 2px gray;
    height: 120px;
    /* margin-top: 50px; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    border:none;
}
.ulDriversOne li{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 25px;
}
.pTextDriversOne{
    text-shadow: 1px 1px 2px gray;
    margin-left: 170px;
    font-size: 19px;
}
.pTextDriversOne1{
    margin-top: 30px;
    text-shadow: 1px 1px 2px gray;
    margin-left: 170px;
    font-size: 22px;
}
.back{
    width: 90px;
    height: 45px;
    font-size: 18px;
    background-color: gray;
    color:white;
    border:none;
    border-radius: 5px;
}
.driverOneHaeder{
   padding-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
}
.StaticsText p{
    color:white;
    margin-left: 130px;
    margin-top: 50px;
    font-size: 20px;
}
.StaticsText1 p{
    color:white;
    margin-left: 130px;
    font-size: 20px;
}
.saveButton{
    font-family: 'Inter', sans-serif;
    /* margin-top: 40px; */
   width: 100px;
   height: 45px ;
   border-radius:7.5px;
   border: 0.45px solid #2B3187;
   background-color:#2B3187;
   color:white;
}
.saveButton1{
    font-family: 'Inter', sans-serif;
    /* margin-top: 40px; */
    font-size: 21px;
   width: 150px;
   height: 50px ;
   border-radius:7.5px;
   border: 0.45px solid #2B3187;
   background-color:#2B3187;
   color:white;
}
.editBTN{
    font-family: 'Inter', sans-serif;
    /* margin-top: 40px; */
   width: 145.48px;
   height: 45px ;
   border-radius:7.5px;
   border: 0.45px solid white;
   background-color:rgb(235, 235, 16);
   color:black;
}
.deleteBTN{
    margin-left: 5px;
    font-family: 'Inter', sans-serif;
    /* margin-top: 40px; */
   width: 100px;
   height: 45px ;
   border-radius:7.5px;
   border: 0.45px white;
   background-color:rgb(182, 57, 57);
   color:white;
}
.pTextDriversOne{
    font-family: 'Inter';
    color:white;
    font-size: 25px;
    font-weight: 500;
}
.pTextDriversOne1{
    font-family: 'Inter';
    color:white;
    font-size: 30px;
    font-weight: 500;
}
.qidirishHeader {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
    padding-bottom: 10px;
  }
  
  .search-input-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: end;
  }
  
  .qidirishHeader input {
    font-size: 25px;
    width: 300px;
    height: 50px;
    padding-right: 40px; /* Leave space for the icon */
  }
  
  .search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    width: 30px;
    height: 30px;
  }
  .del{
    background-color: #F42222;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    width: 57px;
    height: 54px;
    margin-left:40px;
  }

  /* Modal uchun uslublar */
.modal12{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fonni qorong'ilatish */
  }
  
  .modal-content12 {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    border-radius: 8px;
  }
  
  .close12 {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close12:hover,
  .close12:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  .imageTable {
    cursor: pointer;
  }
  .inputsT{
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
  }